In [1]:
import os
import time
import pandas as pd
from pathlib import Path
from pyprojroot import here

pd.set_option('display.max_columns', None)

data_path = Path(here('./data/raw/to_merge'))

In [3]:
for files in data_path.glob('*.csv'):
    print(files)

/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Orlando_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Northampton_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Portland_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Lincoln_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Baltimore_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Seattle_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Cincinnati_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Indianapolis_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Dallas_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Austin_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Bedford_Copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/New_Orleans_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Beloit_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Norwich_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Bloomington_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/Delaware_copy.csv
/Users/johann/ENV/Projects/Labs27-D-HRF-DS/data/raw/to_merge/South_bend_copy.csv

In [4]:
def read(fp):
    df = (pd.read_csv(fp)
          .pipe(clean_columns)
          #.pipe(mapping)
         )
    return df

def clean_columns(df):
    #df = pd.read_csv(df)
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
    
    return df

def mapping(df):
    col_mapping_dict = {c[0]:c[1] for c in enumerate(df.columns)}
    
    return col_mapping_dict

In [ ]:
# CINCINNATI
'uofnum': 'incident_number', 
'occurred_d': 'incident_date', 
'offsex': 'officer_gender', 
'offrace': 'officer_race', 
'forcetype': 'force_type',
'citrace': 'subject_race',
'citsex': 'subject_gender',
'suspect_age': 'subject_age'
    
# AUSTIN    
'rin': 'incident_number', 
'date_occurred': 'incident_date', 
'offsex': 'officer_gender', 
'offrace': 'officer_race', 
'forcetype': 'force_type',
'citrace': 'subject_race',
'citsex': 'subject_gender',
'suspect_age': 'subject_age',
'x-coordinate': 'lon',
'y-coordinate': 'lat',
'weapon_used_1': 'type_of_force'
    
# BEDFORD

'incident#': 'incident_number',
'date': 'incident_date',
'age': 'subject_age',
'race': 'subject_race',
'sex': 'subject_sex',
'age.1': 'officer1_age',
'race.1': 'officer1_race',
'sex.1': 'officer1_sex'
'age.2': 'officer2_age',
'sex.2': 'officer2_sex',
'race.2': 'office2_race'

In [34]:
austin = read(data_path / 'Austin_copy.csv')

In [28]:
austin.head()

,unnamed:_0,rin,primary_key,date_occurred,time_occurred,location,area_command,nature_of_contact,reason_desc,r2r_level,master_subject_id,subject_sex,subject_race,subject_ethnicity,subject_conduct_desc,subject_resistance,weapon_used_1,weapon_used_2,weapon_used_3,weapon_used_4,weapon_used_5,number_shots,subject_effects,effect_on_officer,officer_organization_desc,officer_commission_date,officer_yrs_of_service,x-coordinate,y-coordinate,councildistrict,state,city
0,0,154619,201510652,01/01/2015 12:00:00 AM,0220,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,M,W,N,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 600 REG I PATROL,05/17/2013 12:00:00 AM,2,3115416.0,10070416.0,9.0,TX,Austin
1,1,154620,201510652,01/01/2015 12:00:00 AM,0225,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,M,W,N,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND ACTIVE AGGRESSION; EMPTY HAND DEFEN...,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),NaN,NaN,NaN,NaN,NaN,MINOR INJURY,NO COMPLAINT OF INJURY/PAIN,GEORGE 700 REG I PATROL,05/10/2002 12:00:00 AM,13,3115416.0,10070416.0,9.0,TX,Austin
2,2,155009,201510652,01/01/2015 12:00:00 AM,,E 6TH ST / TRINITY ST,GE,VIEWED OFFENSE,NECESSARY TO EFFECT ARREST / DETENTION,3.0,459228703: 201510652,M,W,N,SUSPECTED UNDER INFLUENCE OF ALCOHOL/DRUGS,EMPTY HAND DEFENSIVE RESISTANCE,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),NaN,NaN,NaN,NaN,NaN,NO COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,GEORGE 300 REG I PATROL,11/30/2012 12:00:00 AM,2,3115416.0,10070416.0,9.0,TX,Austin
3,3,154764,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,TO RESTRAIN FOR SUBJECTS SAFETY,3.0,356649076: 201520457,F,W,N,EDP/MENTALLY UNSTABLE; SUSPECTED UNDER INFLUEN...,VERBAL RESISTANCE/AGGRESSION; EMPTY HAND ACTIV...,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),NaN,NaN,NaN,NaN,NaN,COMPLAINT OF INJURY/PAIN,COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,06/20/2008 12:00:00 AM,7,3124262.0,10057181.0,3.0,TX,Austin
4,4,154859,201520457,01/02/2015 12:00:00 AM,0943,1900 FARO DR,HE,DISPATCHED CALL,"IN CUSTODY, MAINTAINING CONTROL",3.0,356649076: 201520457,F,W,N,EDP/MENTALLY UNSTABLE; SUSPECTED UNDER INFLUEN...,VERBAL RESISTANCE/AGGRESSION; EMPTY HAND DEFEN...,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),NaN,NaN,NaN,NaN,NaN,COMPLAINT OF INJURY/PAIN,NO COMPLAINT OF INJURY/PAIN,HENRY 100 REG III PATROL,01/02/2009 12:00:00 AM,6,3124262.0,10057181.0,3.0,TX,Austin

In [16]:
austin_headers = mapping(austin)
list(headers.values())

['unnamed:_0',
 'rin',
 'primary_key',
 'date_occurred',
 'time_occurred',
 'location',
 'area_command',
 'nature_of_contact',
 'reason_desc',
 'r2r_level',
 'master_subject_id',
 'subject_sex',
 'subject_race',
 'subject_ethnicity',
 'subject_conduct_desc',
 'subject_resistance',
 'weapon_used_1',
 'weapon_used_2',
 'weapon_used_3',
 'weapon_used_4',
 'weapon_used_5',
 'number_shots',
 'subject_effects',
 'effect_on_officer',
 'officer_organization_desc',
 'officer_commission_date',
 'officer_yrs_of_service',
 'x-coordinate',
 'y-coordinate',
 'councildistrict',
 'state',
 'city']

In [35]:
to_drop = ['unnamed:_0',
 'primary_key',
 'time_occurred',
 'location',
 'area_command',
 'nature_of_contact',
 'reason_desc',
 'r2r_level',
 'master_subject_id',
 'subject_ethnicity',
 'subject_conduct_desc',
 'subject_resistance',
 'weapon_used_2',
 'weapon_used_3',
 'weapon_used_4',
 'weapon_used_5',
 'number_shots',
 'subject_effects',
 'effect_on_officer',
 'officer_organization_desc',
 'officer_commission_date',
 'officer_yrs_of_service',
 'councildistrict']

In [36]:
austin = austin.drop(columns=to_drop)

In [44]:
austin = austin.rename(columns= {'rin': 'incident_number', 
                                 'date_occurred': 'incident_date', 
                                 'offsex': 'officer_gender', 
                                 'offrace': 'officer_race', 
                                 'forcetype': 'force_type',
                                 'citrace': 'subject_race',
                                 'citsex': 'subject_gender',
                                 'suspect_age': 'subject_age',
                                 'x-coordinate': 'lon',
                                 'y-coordinate': 'lat',
                                 'weapon_used_1': 'type_of_force'})

In [45]:
austin.head()

,incident_number,incident_date,subject_sex,subject_race,type_of_force,lon,lat,state,city
0,154619,01/01/2015 12:00:00 AM,M,W,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),3115416.0,10070416.0,TX,Austin
1,154620,01/01/2015 12:00:00 AM,M,W,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),3115416.0,10070416.0,TX,Austin
2,155009,01/01/2015 12:00:00 AM,M,W,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),3115416.0,10070416.0,TX,Austin
3,154764,01/02/2015 12:00:00 AM,F,W,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),3124262.0,10057181.0,TX,Austin
4,154859,01/02/2015 12:00:00 AM,F,W,WEAPONLESS (PRESSURE POINTS/KICKS/HAND),3124262.0,10057181.0,TX,Austin

In [46]:
austin['incident_date'] = pd.to_datetime(austin['incident_date'])

In [48]:
austin.to_csv(data_path / 'Austin_clean.csv')

In [49]:
# Bedford

In [84]:
bedford = read(data_path / 'Bedford_Copy.csv')
print(bedford.shape)
bedford.head()

(99, 50)

,incident#,date,time,am/pm,type_of_incident,charges,mental_health\n_complaint?,physical,impact,electronic,chemical,pistol,rifle,shotgun,weapon_discharged,weapon_pointed,other,protect_self,protect_citizen,protect_suspect,prevent_escape,effect_arrest,effect_mental_order,other.1,age,sex,race,"injury,_if_any",compliant,passively_resistive,actively_resistive,physically_assaultive,assaultive_to_cause_death_or_great_bodily_harm,rank,age.1,sex.1,race.1,years_of_service,"injury,_if_any.1",rank.1,age.2,sex.2,race.2,years_of_service.1,"injury,_if_any.2",start_of_pursuit,end_time_of_pursuit,complaint_type,approx._speed_of_suspect,approx._speed_of_officer
0,2.011006e+08,2011-01-30 00:00:00,07:41:00,PM,DISORDERLY TRESSPASSING,TRESSPASSING/ RESISITING,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,X,NaN,NaN,53.0,M,B,NaN,NaN,X,NaN,NaN,NaN,PTL,33,M,W,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.011143e+07,2011-02-24 00:00:00,14:40:00,PM,DISPUTE,NONE,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,24.0,B,M,NaN,NaN,X,NaN,NaN,NaN,OFC,24,M,W,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.011001e+09,2011-03-19 00:00:00,08:30:00,PM,DUI,DUI,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,49.0,B,M,NaN,X,NaN,NaN,NaN,NaN,SGT,M,B,49,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.010004e+09,2010-08-18 00:00:00,01:36:00,AM,NOISE COMPLAINT,DISORDERLY CONDUCT,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,X,NaN,NaN,24.0,M,B,NaN,NaN,NaN,X,NaN,NaN,PTL,23,M,W,8.0,NaN,PTL,26.0,F,W,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2.010004e+09,2010-08-23 00:00:00,09:30:00,PM,E.C.O,E.C.O,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,X,NaN,NaN,37.0,M,W,NaN,NaN,NaN,X,NaN,NaN,PTL,23,F,W,1.0,NaN,SGT,49.0,M,B,25.0,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
bedford_headers = mapping(bedford)
list(bedford_headers.values())

['incident#',
 'date',
 'time',
 'am/pm',
 'type_of_incident',
 'charges',
 'mental_health\n_complaint?',
 'physical',
 'impact',
 'electronic',
 'chemical',
 'pistol',
 'rifle',
 'shotgun',
 'weapon_discharged',
 'weapon_pointed',
 'other',
 'protect_self',
 'protect_citizen',
 'protect_suspect',
 'prevent_escape',
 'effect_arrest',
 'effect_mental_order',
 'other.1',
 'age',
 'sex',
 'race',
 'injury,_if_any',
 'compliant',
 'passively_resistive',
 'actively_resistive',
 'physically_assaultive',
 'assaultive_to_cause_death_or_great_bodily_harm',
 'rank',
 'age.1',
 'sex.1',
 'race.1',
 'years_of_service',
 'injury,_if_any.1',
 'rank.1',
 'age.2',
 'sex.2',
 'race.2',
 'years_of_service.1',
 'injury,_if_any.2',
 'start_of_pursuit',
 'end_time_of_pursuit',
 'complaint_type',
 'approx._speed_of_suspect',
 'approx._speed_of_officer']

In [85]:
bedford_drop = [
 'time',
 'am/pm',
 'type_of_incident',
 'charges',
 'mental_health\n_complaint?',
 'weapon_discharged',
 'weapon_pointed',
 'other',
 'protect_self',
 'protect_citizen',
 'protect_suspect',
 'prevent_escape',
 'effect_arrest',
 'effect_mental_order',
 'other.1',
 'injury,_if_any',
 'compliant',
 'passively_resistive',
 'actively_resistive',
 'physically_assaultive',
 'assaultive_to_cause_death_or_great_bodily_harm',
 'rank',
 'years_of_service',
 'injury,_if_any.1',
 'rank.1',
 'years_of_service.1',
 'injury,_if_any.2',
 'start_of_pursuit',
 'end_time_of_pursuit',
 'complaint_type',
 'approx._speed_of_suspect',
 'approx._speed_of_officer',
 'physical',
 'impact',
 'electronic',
 'chemical',
 'pistol',
 'rifle',
 'shotgun']

In [86]:
bedford = bedford.drop(columns=bedford_drop)

In [87]:
bedford.head()

,incident#,date,age,sex,race,age.1,sex.1,race.1,age.2,sex.2,race.2
0,2.011006e+08,2011-01-30 00:00:00,53.0,M,B,33,M,W,NaN,NaN,NaN
1,2.011143e+07,2011-02-24 00:00:00,24.0,B,M,24,M,W,NaN,NaN,NaN
2,2.011001e+09,2011-03-19 00:00:00,49.0,B,M,M,B,49,NaN,NaN,NaN
3,2.010004e+09,2010-08-18 00:00:00,24.0,M,B,23,M,W,26.0,F,W
4,2.010004e+09,2010-08-23 00:00:00,37.0,M,W,23,F,W,49.0,M,B

In [67]:
bedford['pistol'].unique()

array([nan, 'X'], dtype=object)

In [ ]:
encoder = ce.OrdinalEncoder(cols=weapon_col, return_df=True, mapping=[{'col':' Weapon Used 1',
                                                                              'mapping':{'WEAPONLESS (PRESSURE POINTS/KICKS/HAND)':0,
                                                                                        'CED - PRONGS-ENTER # SHOTS':1,
                                                                                        'CHEMICAL AGENT - O C SPRAY':2,
                                                                                        'CED - DRIVE STUN-ENTER # SHOTS':3,
                                                                                        'CED - PRONGS MISSED-ENTER # SHOTS':4,
                                                                                        'OTHER':5,
                                                                                        'IMPACT WEAPON - BATON': 6,
                                                                                        'CANINE - BITE': 7,
                                                                                        'FIREARM - HANDGUN-ENTER # SHOTS': 8,
                                                                                        'IMPACT MUNITION/RUBBER RND-ENTER # SHOTS': 9,
                                                                                        'IMPACT MUNITION/BEANBAG RND-ENTER # SHOTS': 10,
                                                                                        'FIREARM - RIFLE-ENTER # SHOTS': 11}}])

In [68]:
weapon_col = ['physical',
 'impact',
 'electronic',
 'chemical',
 'pistol',
 'rifle',
 'shotgun']


[ 'age',
 'sex',
 'race']

[ 'age.1',
 'sex.1',
 'race.1'
  'age.2',
 'sex.2',
 'race.2']

['age.1', 'sex.1', 'race.1age.2', 'sex.2', 'race.2']

In [89]:
bedford = bedford.rename(columns= {'incident#': 'incident_number',
                                   'date': 'incident_date',
                                   'age': 'subject_age',
                                   'race': 'subject_race',
                                   'sex': 'subject_sex',
                                   'age.1': 'officer1_age',
                                   'race.1': 'officer1_race',
                                   'sex.1': 'officer1_sex',
                                   'age.2': 'officer2_age',
                                   'sex.2': 'officer2_sex',
                                   'race.2': 'office2_race'})

In [91]:
bedford['lon'] = -81.534447
bedford['lat'] = 41.392502

In [97]:
bedford['incident_date'] = pd.to_datetime(bedford['incident_date'], errors = 'coerce')

In [95]:
bedford['incident_date']

0     2011-01-30 00:00:00
1     2011-02-24 00:00:00
2     2011-03-19 00:00:00
3     2010-08-18 00:00:00
4     2010-08-23 00:00:00
             ...
94    2013-09-15 00:00:00
95    2013-11-29 00:00:00
96    2013-06-24 00:00:00
97    2013-01-21 00:00:00
98    2013-01-10 00:00:00
Name: incident_date, Length: 99, dtype: object

In [98]:
bedford.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   incident_number  97 non-null     float64
 1   incident_date    95 non-null     datetime64[ns]
 2   subject_age      87 non-null     float64
 3   subject_sex      93 non-null     object
 4   subject_race     92 non-null     object
 5   officer1_age     96 non-null     object
 6   officer1_sex     97 non-null     object
 7   officer1_race    95 non-null     object
 8   officer2_age     54 non-null     float64
 9   officer2_sex     56 non-null     object
 10  office2_race     53 non-null     object
 11  lon              99 non-null     float64
 12  lat              99 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 10.2+ KB

In [92]:
bedford.head()

,incident_number,incident_date,subject_age,subject_sex,subject_race,officer1_age,officer1_sex,officer1_race,officer2_age,officer2_sex,office2_race,lon,lat
0,2.011006e+08,2011-01-30 00:00:00,53.0,M,B,33,M,W,NaN,NaN,NaN,-81.534447,41.392502
1,2.011143e+07,2011-02-24 00:00:00,24.0,B,M,24,M,W,NaN,NaN,NaN,-81.534447,41.392502
2,2.011001e+09,2011-03-19 00:00:00,49.0,B,M,M,B,49,NaN,NaN,NaN,-81.534447,41.392502
3,2.010004e+09,2010-08-18 00:00:00,24.0,M,B,23,M,W,26.0,F,W,-81.534447,41.392502
4,2.010004e+09,2010-08-23 00:00:00,37.0,M,W,23,F,W,49.0,M,B,-81.534447,41.392502

In [99]:
bedford.to_csv(data_path / 'Bedford_clean.csv')

In [100]:
# Beloit
beloit = read(data_path / 'Beloit_copy.csv')
print(beloit.shape)
beloit.head()

(832, 28)

,uof_#,cad#,offense,disposition,date,sex,race,age,charges,dialog,handstrike,vertical_stun,decentralizatio,forearm_strike,batons,wrist_compressio,kneestrke,less_than_lethal,oc,footstrike,k9bite,pressure_points,diffusedstrike,firearm,conducted_energy_device,other,alcohol_use,drug
0,UOF18-001,BE1800568,Loitering,No Arrest,2018-01-05 00:00:00,M,W,40.0,BE1800570 - 51.45 by other officers,Yes,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Pulled by clothing,Yes,No
1,UOF18-002A,BE1800867,5145 Alcohol Commitment,Emergency Detention Arrest,2018-01-07 00:00:00,M,W,53.0,51.45,Yes,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,"Restrained from walking out, handcuffed to bed",Yes,No
2,UOF18-002B,BE1800867,5145 Alcohol Commitment,Emergency Detention Arrest,2018-01-07 00:00:00,M,W,53.0,51.45,Yes,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,"Restrained from walking out, handcuffed to bed",Yes,No
3,UOF18-003,BE1800853,Domestic Violence,Criminal Arrest,2018-01-07 00:00:00,M,L,36.0,DV-Disorderly Conduct,Yes,No,No,No,No,No,Yes,No,No,No,No,No,No,No,No,No,Force - Handcuffing,No,No
4,UOF18-004,BE1801194,5115 Mental Commitment,Emergency Detention Arrest,2018-01-10 00:00:00,F,B,64.0,51.15 Mental Commitment,Yes,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Stabilized to bed for medication,No,No

In [102]:
beloit_headers = mapping(beloit)
list(beloit_headers.values())

['uof_#',
 'cad#',
 'offense',
 'disposition',
 'date',
 'sex',
 'race',
 'age',
 'charges',
 'dialog',
 'handstrike',
 'vertical_stun',
 'decentralizatio',
 'forearm_strike',
 'batons',
 'wrist_compressio',
 'kneestrke',
 'less_than_lethal',
 'oc',
 'footstrike',
 'k9bite',
 'pressure_points',
 'diffusedstrike',
 'firearm',
 'conducted_energy_device',
 'other',
 'alcohol_use',
 'drug']

In [107]:
beloit_drop = [
 'cad#',
 'offense',
 'disposition',
 'charges',
 'dialog',
 'handstrike',
 'vertical_stun',
 'decentralizatio',
 'forearm_strike',
 'batons',
 'wrist_compressio',
 'kneestrke',
 'less_than_lethal',
 'oc',
 'footstrike',
 'k9bite',
 'pressure_points',
 'diffusedstrike',
 'firearm',
 'conducted_energy_device',
 'alcohol_use',
 'drug']

In [113]:
beloit = beloit.drop(columns=beloit_drop)

In [114]:
beloit = beloit.rename(columns= {'uof_#': 'incident_number',
                                 'date': 'incident_date',
                                 'sex': 'subject_sex',
                                 'race': 'subject_race',
                                 'age': 'subject_age',
                                 'other': 'type_of_force'})

In [115]:
beloit['lon'] = -89.0257
beloit['lat'] = 42.5050

In [116]:
beloit['incident_date'] = pd.to_datetime(beloit['incident_date'])

In [117]:
beloit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   incident_number  832 non-null    object
 1   incident_date    832 non-null    datetime64[ns]
 2   subject_sex      797 non-null    object
 3   subject_race     797 non-null    object
 4   subject_age      771 non-null    float64
 5   type_of_force    520 non-null    object
 6   lon              832 non-null    float64
 7   lat              832 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 52.1+ KB

In [118]:
beloit.head()

,incident_number,incident_date,subject_sex,subject_race,subject_age,type_of_force,lon,lat
0,UOF18-001,2018-01-05,M,W,40.0,Pulled by clothing,-89.0257,42.505
1,UOF18-002A,2018-01-07,M,W,53.0,"Restrained from walking out, handcuffed to bed",-89.0257,42.505
2,UOF18-002B,2018-01-07,M,W,53.0,"Restrained from walking out, handcuffed to bed",-89.0257,42.505
3,UOF18-003,2018-01-07,M,L,36.0,Force - Handcuffing,-89.0257,42.505
4,UOF18-004,2018-01-10,F,B,64.0,Stabilized to bed for medication,-89.0257,42.505

In [119]:
beloit.to_csv(data_path / 'Beloit_clean.csv')

In [120]:
# BLOOMINGTON

In [200]:
bloom = read(data_path / 'Bloomington_copy.csv')
print(bloom.shape)
bloom.head()

(1188, 36)

,event,district,nature,how_received,date,time,physical_contact,less_lethal,draw_less_lethal,draw_weapon,weapon_fired,vehicle_pursuit,foot_pursuit,suspect_condition,suspect_armed,suspect_injured,suspect_role,officer_injured,officer_exposed_to_bbp,suspect_gender_female,suspect_gender_male,suspect_age,"suspect_race_caucasian,_non-hispanic","suspect_race__caucasian,_hispanic","suspect_race_african_american,_non-hispanic","suspect_race_african_american,_hispanic","suspect_race_indian/alaskan_native,_non-hispanic","suspect_race_indian/alaskan_native,_hispanic","suspect_race_asian/pacific_islander,_non-hispanic","suspect_race_asian/pacific_islander,_hispanic",drew_less_lethal,drew_weapon,"suspect_race_white,_non-hispanic","suspect_race__white,_hispanic","suspect_race_aa,_non-hispanic","suspect_race_aa,_hispanic"
0,B19-41460,1,FIGHT\n,911,2019-10-01 00:00:00,00:11:00,YES,NO,NO,NO,NO,NO,NO,INTOXICATED,NO,NO,ARRESTEE,NO,NO,NaN,1.0,30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B19-42037,3,TRAFFIC STOP,OFFICER REPORT,2019-10-04 00:00:00,16:54:00,YES,NO,NO,YES,NO,NO,NO,NORMAL,NO,NO,INVOLVED,NO,NO,NaN,1.0,42,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B19-42212,4,WARRANT SERVICE,OFFICER REPORT,2019-10-05 00:00:00,17:32:00,YES,NO,NO,NO,NO,NO,NO,NORMAL,NO,NO,ARRESTEE,NO,NO,NaN,1.0,19,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B19-42238,4,FIGHT,911,2019-10-05 00:00:00,20:04:00,YES,NO,NO,NO,NO,NO,NO,INTOXICATED,NO,NO,ARRESTEE,NO,NO,NaN,1.0,40,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B19-42269,4,DISTURBANCE,TELEPHONE,2019-10-06 00:00:00,00:00:00,YES,NO,NO,NO,NO,NO,NO,INTOXICATED,NO,NO,NaN,NO,NO,NaN,1.0,55,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
bloom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 36 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   event                                              1184 non-null   object
 1   district                                           1184 non-null   object
 2   nature                                             1185 non-null   object
 3   how_received                                       1184 non-null   object
 4   date                                               1184 non-null   object
 5   time                                               1184 non-null   object
 6   physical_contact                                   1184 non-null   object
 7   less_lethal                                        1184 non-null   object
 8   draw_less_lethal                                   216 non-null    object
 9   draw_weapon                                        1033 non-null   object
 10  weapon_fired                                       1184 non-null   object
 11  vehicle_pursuit                                    1184 non-null   object
 12  foot_pursuit                                       1184 non-null   object
 13  suspect_condition                                  1182 non-null   object
 14  suspect_armed                                      1184 non-null   object
 15  suspect_injured                                    1184 non-null   object
 16  suspect_role                                       1183 non-null   object
 17  officer_injured                                    1184 non-null   object
 18  officer_exposed_to_bbp                             1184 non-null   object
 19  suspect_gender_female                              223 non-null    float64
 20  suspect_gender_male                                962 non-null    float64
 21  suspect_age                                        1183 non-null   object
 22  suspect_race_caucasian,_non-hispanic               761 non-null    float64
 23  suspect_race__caucasian,_hispanic                  16 non-null     float64
 24  suspect_race_african_american,_non-hispanic        248 non-null    float64
 25  suspect_race_african_american,_hispanic            1 non-null      float64
 26  suspect_race_indian/alaskan_native,_non-hispanic   2 non-null      float64
 27  suspect_race_indian/alaskan_native,_hispanic       2 non-null      float64
 28  suspect_race_asian/pacific_islander,_non-hispanic  7 non-null      float64
 29  suspect_race_asian/pacific_islander,_hispanic      0 non-null      float64
 30  drew_less_lethal                                   151 non-null    object
 31  drew_weapon                                        151 non-null    object
 32  suspect_race_white,_non-hispanic                   98 non-null     float64
 33  suspect_race__white,_hispanic                      4 non-null      float64
 34  suspect_race_aa,_non-hispanic                      44 non-null     float64
 35  suspect_race_aa,_hispanic                          0 non-null      float64
dtypes: float64(14), object(22)
memory usage: 334.2+ KB

In [202]:
bloom_headers = mapping(bloom)
list(bloom_headers.values())

['event',
 'district',
 'nature',
 'how_received',
 'date',
 'time',
 'physical_contact',
 'less_lethal',
 'draw_less_lethal',
 'draw_weapon',
 'weapon_fired',
 'vehicle_pursuit',
 'foot_pursuit',
 'suspect_condition',
 'suspect_armed',
 'suspect_injured',
 'suspect_role',
 'officer_injured',
 'officer_exposed_to_bbp',
 'suspect_gender_female',
 'suspect_gender_male',
 'suspect_age',
 'suspect_race_caucasian,_non-hispanic',
 'suspect_race__caucasian,_hispanic',
 'suspect_race_african_american,_non-hispanic',
 'suspect_race_african_american,_hispanic',
 'suspect_race_indian/alaskan_native,_non-hispanic',
 'suspect_race_indian/alaskan_native,_hispanic',
 'suspect_race_asian/pacific_islander,_non-hispanic',
 'suspect_race_asian/pacific_islander,_hispanic',
 'drew_less_lethal',
 'drew_weapon',
 'suspect_race_white,_non-hispanic',
 'suspect_race__white,_hispanic',
 'suspect_race_aa,_non-hispanic',
 'suspect_race_aa,_hispanic']

In [203]:
bloom_drop = [
 'district',
 'nature',
 'how_received',
 'time',
 'physical_contact',
 'less_lethal',
 'draw_less_lethal',
 'draw_weapon',
 'weapon_fired',
 'vehicle_pursuit',
 'foot_pursuit',
 'suspect_condition',
 'suspect_armed',
 'suspect_injured',
 'suspect_role',
 'officer_injured',
 'officer_exposed_to_bbp',
 'suspect_race_caucasian,_non-hispanic',
 'suspect_race__caucasian,_hispanic',
 'suspect_race_african_american,_non-hispanic',
 'suspect_race_african_american,_hispanic',
 'suspect_race_indian/alaskan_native,_non-hispanic',
 'suspect_race_indian/alaskan_native,_hispanic',
 'suspect_race_asian/pacific_islander,_non-hispanic',
 'suspect_race_asian/pacific_islander,_hispanic',
 'drew_less_lethal',
 'drew_weapon',
 'suspect_race_white,_non-hispanic',
 'suspect_race__white,_hispanic',
 'suspect_race_aa,_non-hispanic',
 'suspect_race_aa,_hispanic']

In [ ]:
race = [ 
'suspect_race_caucasian,_non-hispanic',
'suspect_race__caucasian,_hispanic',
'suspect_race_african_american,_non-hispanic',
'suspect_race_african_american,_hispanic',
'suspect_race_indian/alaskan_native,_non-hispanic',
'suspect_race_indian/alaskan_native,_hispanic',
'suspect_race_asian/pacific_islander,_non-hispanic',
'suspect_race_asian/pacific_islander,_hispanic']

In [204]:
bloom = bloom.drop(columns=bloom_drop)

In [205]:
bloom['suspected_gender_male'] = bloom['suspect_gender_male'].replace(1.0, 'M', inplace=True)
bloom['suspected_gender_female'] = bloom['suspect_gender_female'].replace(1.0, 'F', inplace=True)

In [206]:
bloom['suspect_gender_female'].fillna('M', inplace = True)

In [207]:
bloom = bloom.rename(columns= {'suspect_gender_female': 'subject_gender',
                                 'event': 'incident_number',
                                 'date': 'incident_date'})

genders = ['suspected_gender_male', 'suspected_gender_male', 'suspected_gender_female', 'suspect_gender_male']
bloom = bloom.drop(columns=genders)

In [218]:
bloom['incident_date'] = pd.to_datetime(bloom['incident_date'], errors='coerce')

bloom['lon'] = -86.525757
bloom['lat'] = 39.1636505

In [219]:
bloom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   incident_number  1184 non-null   object
 1   incident_date    1183 non-null   datetime64[ns]
 2   subject_gender   1188 non-null   object
 3   suspect_age      1183 non-null   object
 4   lon              1188 non-null   float64
 5   lat              1188 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 55.8+ KB

In [220]:
bloom.head()

,incident_number,incident_date,subject_gender,suspect_age,lon,lat
0,B19-41460,2019-10-01,M,30,-86.525757,39.163651
1,B19-42037,2019-10-04,M,42,-86.525757,39.163651
2,B19-42212,2019-10-05,M,19,-86.525757,39.163651
3,B19-42238,2019-10-05,M,40,-86.525757,39.163651
4,B19-42269,2019-10-06,M,55,-86.525757,39.163651

In [221]:
bloom.to_csv(data_path / 'Bloomington_clean.csv')

In [231]:
dela = read(data_path / 'Delaware_copy.csv')
print(dela.shape)
dela.head()

(11, 16)

,unnamed:_0,date,time,incident_type,crimes_investigated,force_type,display_only,arrested,suspect_age,suspect_race/sex,officer_age,officer_race/sex,officer_injured,suspect_injured,state,city
0,0,10/30/2016,14,Crime Prevention Check,Disorderly Conduct,TASER,Yes,No,21/22,WM/WM,30,BM,No,No,DE,Newark
1,1,10/20/2016,27,Assist Other Agency,Robbery,TASER,Yes,No,19,WM,32,WM,No,No,DE,Newark
2,2,10/2/2016,2114,Assist Other Agency,Resisting Arrest,Handgun/TASER,Yes,Yes,27,WM,30/26,BM/WM,No,No,DE,Newark
3,3,9/17/2016,5,Pedestrian Stop,Resisting Arrest/Drugs,Weaponless,No,Yes,18,WM,32,WM,No,Yes,DE,Newark
4,4,9/11/2016,2326,Pedestrian Stop,Resisting Arrest/Drugs,TASER,No,Yes,24,BM,47,WM,No,No,DE,Newark

In [224]:
dela_headers = mapping(dela)
list(dela_headers.values())

['unnamed:_0',
 'date',
 'time',
 'incident_type',
 'crimes_investigated',
 'force_type',
 'display_only',
 'arrested',
 'suspect_age',
 'suspect_race/sex',
 'officer_age',
 'officer_race/sex',
 'officer_injured',
 'suspect_injured',
 'state',
 'city']

In [232]:
dela_drop = ['unnamed:_0',
 'time',
 'incident_type',
 'crimes_investigated',
 'display_only',
 'arrested',
 'officer_injured',
 'suspect_injured']

In [233]:
dela = dela.drop(columns=dela_drop)

In [234]:
dela

,date,force_type,suspect_age,suspect_race/sex,officer_age,officer_race/sex,state,city
0,10/30/2016,TASER,21/22,WM/WM,30,BM,DE,Newark
1,10/20/2016,TASER,19,WM,32,WM,DE,Newark
2,10/2/2016,Handgun/TASER,27,WM,30/26,BM/WM,DE,Newark
3,9/17/2016,Weaponless,18,WM,32,WM,DE,Newark
4,9/11/2016,TASER,24,BM,47,WM,DE,Newark
5,9/5/2016,Weaponless /TASER,20,WM,47/51,BM/WM,DE,Newark
6,6/10/2016,Weaponless,44,BM,30,WM,DE,Newark
7,5/9/2016,TASER,23,WM,25,WM,DE,Newark
8,4/29/2016,Handgun/TASER,25,BM,32/31,WM/WM,DE,Newark
9,4/11/2016,Handgun/TASER,22,WM,31/45,WF/WM,DE,Newark
10,3/18/2016,TASER,22,WM,30,WM,DE,Newark

In [236]:
dela = dela.rename(columns= {'suspect_age': 'subject_gender',
                                 'event': 'incident_number',
                                 'date': 'incident_date'})

In [237]:
dela['incident_date'] = pd.to_datetime(dela['incident_date'], errors='coerce')

dela['lon'] = -75.749657
dela['lat'] = 39.683723

In [240]:
dela.head()

,incident_date,force_type,subject_gender,suspect_race/sex,officer_age,officer_race/sex,state,city,lon,lat
0,2016-10-30,TASER,21/22,WM/WM,30,BM,DE,Newark,-75.749657,39.683723
1,2016-10-20,TASER,19,WM,32,WM,DE,Newark,-75.749657,39.683723
2,2016-10-02,Handgun/TASER,27,WM,30/26,BM/WM,DE,Newark,-75.749657,39.683723
3,2016-09-17,Weaponless,18,WM,32,WM,DE,Newark,-75.749657,39.683723
4,2016-09-11,TASER,24,BM,47,WM,DE,Newark,-75.749657,39.683723

In [241]:
dela.to_csv(data_path / 'Delaware_clean.csv')

In [242]:
lin = read(data_path / 'Lincoln_copy.csv')
print(lin.shape)
lin.head()

(391, 49)

,unnamed:_0,incid,date,year,time,ofcage,ofcrace,ofcgender,ofcexp,ofczpro,ofcteam,tofc,loc,natinc,light,light1,witness,audio_,video,susweap,susweap1,susage,susrace,susgender,flag1,flag2,flag3,alcohol,drug,mental,esl,reason,resist,resist1,resist2,control,control1,control2,typecontrol,typecontrol1,typecontrol2,ground,susinjury,ofcinjury,suspart,ofcpart,fid,state,city
0,0,281,2016/01/17 00:00:00+00,2016,1450,40,1,0,10,28.1,7,2,24,24244,3,NaN,0,0,0,1,.,26,3,0,0,0,0,0,0,0,1,1,2,4,5,2,3,3,1,.,.,1,0,1,.,1,1,NE,Lincoln
1,1,282,2016/01/17 00:00:00+00,2016,122,29,1,0,3,32.13,5,2,84,27111,2,NaN,0,0,0,1,.,21,1,0,0,0,0,1,1,0,0,1,2,3,4,2,3,4,1,.,.,0,1,0,10,.,2,NE,Lincoln
2,2,283,2016/01/17 00:00:00+00,2016,1450,27,1,0,0,34.27,7,2,24,24244,3,NaN,0,0,0,1,.,26,3,0,0,0,0,0,0,0,1,1,2,4,5,2,3,3,1,.,.,1,0,1,.,1,3,NE,Lincoln
3,3,284,2016/01/18 00:00:00+00,2016,139,37,1,0,11,38.98,1,2,1,8333,2,NaN,0,1,0,3,5,30,1,0,1,0,0,0,1,0,0,4,2,3,3,2,5,5,7,.,.,1,1,0,7,.,4,NE,Lincoln
4,4,285,2016/01/20 00:00:00+00,2016,42,29,1,0,5,.,2,2,1,21000,2,NaN,2,0,0,1,.,25,4,0,0,0,0,1,0,0,1,1,2,3,3,2,3,3,1,.,.,1,1,0,10,.,5,NE,Lincoln

In [243]:
lin_headers = mapping(lin)
list(lin_headers.values())

['unnamed:_0',
 'incid',
 'date',
 'year',
 'time',
 'ofcage',
 'ofcrace',
 'ofcgender',
 'ofcexp',
 'ofczpro',
 'ofcteam',
 'tofc',
 'loc',
 'natinc',
 'light',
 'light1',
 'witness',
 'audio_',
 'video',
 'susweap',
 'susweap1',
 'susage',
 'susrace',
 'susgender',
 'flag1',
 'flag2',
 'flag3',
 'alcohol',
 'drug',
 'mental',
 'esl',
 'reason',
 'resist',
 'resist1',
 'resist2',
 'control',
 'control1',
 'control2',
 'typecontrol',
 'typecontrol1',
 'typecontrol2',
 'ground',
 'susinjury',
 'ofcinjury',
 'suspart',
 'ofcpart',
 'fid',
 'state',
 'city']

In [244]:
lin_drop = ['unnamed:_0',
 'year',
 'time',
 'ofcage',
 'ofcrace',
 'ofcgender',
 'ofcexp',
 'ofczpro',
 'ofcteam',
 'tofc',
 'loc',
 'natinc',
 'light',
 'light1',
 'witness',
 'audio_',
 'video',
 'susweap',
 'susweap1',
 'susrace',
 'susgender',
 'flag1',
 'flag2',
 'flag3',
 'alcohol',
 'drug',
 'mental',
 'esl',
 'reason',
 'resist',
 'resist1',
 'resist2',
 'control',
 'control1',
 'control2',
 'typecontrol',
 'typecontrol1',
 'typecontrol2',
 'ground',
 'susinjury',
 'ofcinjury',
 'suspart',
 'ofcpart',
 'fid']

In [245]:
lin = lin.drop(columns=lin_drop)

In [246]:
lin.head()

   incid                    date susage state     city
0    281  2016/01/17 00:00:00+00     26    NE  Lincoln
1    282  2016/01/17 00:00:00+00     21    NE  Lincoln
2    283  2016/01/17 00:00:00+00     26    NE  Lincoln
3    284  2016/01/18 00:00:00+00     30    NE  Lincoln
4    285  2016/01/20 00:00:00+00     25    NE  Lincoln

In [248]:
lin = lin.rename(columns= {'incid': 'incident_number',
                                 'susage': 'subject_age',
                                 'date': 'incident_date'})

In [249]:
lin['incident_date'] = pd.to_datetime(lin['incident_date'], errors='coerce')

lin['lon'] = -96.681679
lin['lat'] = 40.806862

In [250]:
lin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   incident_number  391 non-null    int64
 1   incident_date    391 non-null    datetime64[ns, UTC]
 2   subject_age      391 non-null    object
 3   state            391 non-null    object
 4   city             391 non-null    object
 5   lon              391 non-null    float64
 6   lat              391 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(3)
memory usage: 21.5+ KB

In [251]:
lin.head()

,incident_number,incident_date,subject_age,state,city,lon,lat
0,281,2016-01-17 00:00:00+00:00,26,NE,Lincoln,-96.681679,40.806862
1,282,2016-01-17 00:00:00+00:00,21,NE,Lincoln,-96.681679,40.806862
2,283,2016-01-17 00:00:00+00:00,26,NE,Lincoln,-96.681679,40.806862
3,284,2016-01-18 00:00:00+00:00,30,NE,Lincoln,-96.681679,40.806862
4,285,2016-01-20 00:00:00+00:00,25,NE,Lincoln,-96.681679,40.806862

In [252]:
lin.to_csv(data_path / 'Lincoln_clean.csv')

In [253]:
north = read(data_path / 'Northampton_copy.csv')
print(north.shape)
north.head()

(319, 24)

,event_#,call_type,time_of_day,subject_weapon,subject_age,subject_gender,subject_race,subject_ethnicity,alcohol_drugs,pd_force_type,#_of_officers,arrest_or_protectivecustody,"subject_injured-_if_yes,_type:","officer_injured-_if_yes,_type:",arrest_or_protective_custody,time,subject_alcohol_drugs,police_weapon,#_of_shots_fired,#_of_times_subject_hit,officer's_name,officer's_gender,officer's_race/ethnicity,summary_of_event
0,1.0,Section 12- Mental Health,14:47:00,No,47.0,F,Asian,Non-Hisp.,None,Rear Wrist Lock,2.0,PC,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Disorderly Conduct,21:28:00,No,69.0,M,White,Non-Hisp.,Alcohol,Restrained to Hospital Bed,2.0,Arrest,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,"Disorderly Conduct,Trespassing",18:00:00,No,32.0,M,White,Non-Hisp.,None,Arm Bar Take-Down,2.0,Arrest,Eyes Sore from OC spray,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OC Spray,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Mental health,14:22:00,No,48.0,M,White,Non-Hisp.,"Alcohol, Drugs",Arm Bar Take-Down,3.0,PC,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
north_headers = mapping(north)
list(north_headers.values())

['event_#',
 'call_type',
 'time_of_day',
 'subject_weapon',
 'subject_age',
 'subject_gender',
 'subject_race',
 'subject_ethnicity',
 'alcohol_drugs',
 'pd_force_type',
 '#_of_officers',
 'arrest_or_protectivecustody',
 'subject_injured-_if_yes,_type:',
 'officer_injured-_if_yes,_type:',
 'arrest_or_protective_custody',
 'time',
 'subject_alcohol_drugs',
 'police_weapon',
 '#_of_shots_fired',
 '#_of_times_subject_hit',
 "officer's_name",
 "officer's_gender",
 "officer's_race/ethnicity",
 'summary_of_event']

In [255]:
north_drop = [
 'call_type',
 'time_of_day',
 'subject_weapon',
 'alcohol_drugs',
 '#_of_officers',
 'arrest_or_protectivecustody',
 'subject_injured-_if_yes,_type:',
 'officer_injured-_if_yes,_type:',
 'arrest_or_protective_custody',
 'time',
 'subject_alcohol_drugs',
 'police_weapon',
 '#_of_shots_fired',
 '#_of_times_subject_hit',
 "officer's_name",
 "officer's_gender",
 "officer's_race/ethnicity",
 'summary_of_event']

In [256]:
north = north.drop(columns=north_drop)

In [257]:
north.head()

,event_#,subject_age,subject_gender,subject_race,subject_ethnicity,pd_force_type
0,1.0,47.0,F,Asian,Non-Hisp.,Rear Wrist Lock
1,2.0,69.0,M,White,Non-Hisp.,Restrained to Hospital Bed
2,3.0,32.0,M,White,Non-Hisp.,Arm Bar Take-Down
3,NaN,NaN,NaN,NaN,NaN,OC Spray
4,4.0,48.0,M,White,Non-Hisp.,Arm Bar Take-Down

In [259]:
north = north.rename(columns= {'event_#': 'incident_number'})

In [261]:
north['lon'] = -72.6412013
north['lat'] = 42.3250896

In [262]:
north.head()

,incident_number,subject_age,subject_gender,subject_race,subject_ethnicity,pd_force_type,lon,lat
0,1.0,47.0,F,Asian,Non-Hisp.,Rear Wrist Lock,-72.641201,42.32509
1,2.0,69.0,M,White,Non-Hisp.,Restrained to Hospital Bed,-72.641201,42.32509
2,3.0,32.0,M,White,Non-Hisp.,Arm Bar Take-Down,-72.641201,42.32509
3,NaN,NaN,NaN,NaN,NaN,OC Spray,-72.641201,42.32509
4,4.0,48.0,M,White,Non-Hisp.,Arm Bar Take-Down,-72.641201,42.32509

In [263]:
north.to_csv(data_path / 'Northampton_clean.csv')

In [275]:
nor = read(data_path / 'Norwich_copy.csv')
print(nor.shape)
nor.head()

(383, 21)

,event_#,call_type,time_of_day,subject_weapon,subject_age,subject_gender,subject_race,subject_ethnicity,alcohol_drugs,pd_force_type,#_of_officers,arrest_or_protectivecustody,"subject_injured-_if_yes,_type:","officer_injured-_if_yes,_type:",time,subject_alcohol_drugs,police_weapon,#_of_shots_fired,#_of_times_subject_hit,officer's_gender,officer's_race/ethnicity
0,1,Mental Health,00:31:00,No,25.0,F,White,Hispanic,None,Forced to Ground,1.0,PC,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Domestic Dispute,13:11:00,No,23.0,M,Black,Non-Hisp.,None,Firearm Displayed,2.0,Arrest,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Robbery In Progress,21:02:00,Yes,29.0,M,White,Non-Hisp.,Heroin,Firearm Discharged,1.0,Arrest,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Mental Helath,12:32:00,No,25.0,M,Black,Non-Hisp.,None,Taser Displayed,5.0,PC,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Domestic Dispute/Resisting Arrest,22:38:00,No,43.0,M,White,Non-Hisp.,None,Forced to Ground,6.0,Arrest,Yes- Non-visible (Shoulder),No,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
nor_headers = mapping(nor)
list(nor_headers.values())

['event_#',
 'call_type',
 'time_of_day',
 'subject_weapon',
 'subject_age',
 'subject_gender',
 'subject_race',
 'subject_ethnicity',
 'alcohol_drugs',
 'pd_force_type',
 '#_of_officers',
 'arrest_or_protectivecustody',
 'subject_injured-_if_yes,_type:',
 'officer_injured-_if_yes,_type:',
 'time',
 'subject_alcohol_drugs',
 'police_weapon',
 '#_of_shots_fired',
 '#_of_times_subject_hit',
 "officer's_gender",
 "officer's_race/ethnicity"]

In [276]:
nor_drop = [
 'call_type',
 'time_of_day',
 'subject_weapon',
 '#_of_officers',
 'alcohol_drugs',
 'arrest_or_protectivecustody',
 'subject_injured-_if_yes,_type:',
 'officer_injured-_if_yes,_type:',
 'time',
 'subject_alcohol_drugs',
 'police_weapon',
 '#_of_shots_fired',
 '#_of_times_subject_hit']

In [277]:
nor = nor.drop(columns=nor_drop)

In [278]:
nor.head()

,event_#,subject_age,subject_gender,subject_race,subject_ethnicity,pd_force_type,officer's_gender,officer's_race/ethnicity
0,1,25.0,F,White,Hispanic,Forced to Ground,NaN,NaN
1,2,23.0,M,Black,Non-Hisp.,Firearm Displayed,NaN,NaN
2,3,29.0,M,White,Non-Hisp.,Firearm Discharged,NaN,NaN
3,4,25.0,M,Black,Non-Hisp.,Taser Displayed,NaN,NaN
4,5,43.0,M,White,Non-Hisp.,Forced to Ground,NaN,NaN

In [281]:
nor = nor.rename(columns= {'event_#': 'incident_number'})

In [282]:
nor['lon'] = -72.088852
nor['lat'] = 41.532227

In [283]:
nor.head()

,incident_number,subject_age,subject_gender,subject_race,subject_ethnicity,pd_force_type,officer's_gender,officer's_race/ethnicity,lon,lat
0,1,25.0,F,White,Hispanic,Forced to Ground,NaN,NaN,-72.088852,41.532227
1,2,23.0,M,Black,Non-Hisp.,Firearm Displayed,NaN,NaN,-72.088852,41.532227
2,3,29.0,M,White,Non-Hisp.,Firearm Discharged,NaN,NaN,-72.088852,41.532227
3,4,25.0,M,Black,Non-Hisp.,Taser Displayed,NaN,NaN,-72.088852,41.532227
4,5,43.0,M,White,Non-Hisp.,Forced to Ground,NaN,NaN,-72.088852,41.532227

In [284]:
nor.to_csv(data_path / 'Norwich_clean.csv')

In [286]:
orl = read(data_path/'Orlando_copy.csv')
print(orl.shape)
orl.head()

(5658, 30)

,unnamed:_0,incident_number,incident_date_time,incident_location,officers_involved,officers_race,officers_ethnicity,officers_sex,officer_battered,officer_injured,officer_medical_treatment,electronic_device_used,chemical_agent_used,tackle_take_down,impact_weapons_used,physical_strikes_made,deflation_device_used,k9_unit_involved,offenders_involved,offenders_race,offenders_ethnicity,offenders_sex,offender_arrested,offender_injured,offender_medical_treatment,witnesses_involved,status,location,state,city
0,0,2018-00079161,02/25/2018 10:23:00 PM,26TH / 15 LAWSONA BLV,1.0,W,NH,M,Yes,No,No,No,No,No,No,Yes,No,Yes,1.0,W,NH,M,Felony,Yes,Yes,0.0,Unmapped,NaN,FL,Orlando
1,1,2013-00544482,12/29/2013 11:02:00 PM,NaN,1.0,B,NH,M,No,No,No,No,Yes,No,No,No,No,No,0.0,U,NH,U,Not Arrested,No,No,0.0,Unmapped,NaN,FL,Orlando
2,2,2018-00478744,12/14/2018 08:17:00 AM,9200 Block of AIRPORT BV,1.0,W,NH,M,No,No,No,No,Yes,No,No,No,No,No,1.0,B,NH,M,Felony,No,No,0.0,Mapped,"(28.43097505, -81.31134146)",FL,Orlando
3,3,2017-00316840,08/14/2017 01:50:00 AM,EW WBO / LONG ST,3.0,W;W;W,NH;NH;NH,M;M;M,No,No,No,Yes,No,No,No,Yes,No,No,1.0,B,NH,M,Misdemeanor,No,No,0.0,U,NaN,FL,Orlando
4,4,IncidentNumber,NaN,IncidentLocation,NaN,OfficersRace,OfficersEthnicity,OfficersSex,OfficerBattered,OfficerInjured,OfficerMedicalTreatment,ElectronicDeviceUsed,ChemicalAgentUsed,TackleTakeDown,ImpactWeaponsUsed,PhysicalStrikesMade,DeflationDeviceUsed,K9UnitInvolved,NaN,OffendersRace,OffendersEthnicity,OffendersSex,OffenderArrested,OffenderInjured,OffenderMedicalTreatment,NaN,Status,NaN,FL,Orlando

In [287]:
orl_headers = mapping(orl)
list(orl_headers.values())

['unnamed:_0',
 'incident_number',
 'incident_date_time',
 'incident_location',
 'officers_involved',
 'officers_race',
 'officers_ethnicity',
 'officers_sex',
 'officer_battered',
 'officer_injured',
 'officer_medical_treatment',
 'electronic_device_used',
 'chemical_agent_used',
 'tackle_take_down',
 'impact_weapons_used',
 'physical_strikes_made',
 'deflation_device_used',
 'k9_unit_involved',
 'offenders_involved',
 'offenders_race',
 'offenders_ethnicity',
 'offenders_sex',
 'offender_arrested',
 'offender_injured',
 'offender_medical_treatment',
 'witnesses_involved',
 'status',
 'location',
 'state',
 'city']

In [288]:
orl_drop = ['unnamed:_0',
 'incident_location',
 'officers_involved',
 'officer_battered',
 'officer_injured',
 'officer_medical_treatment',
 'electronic_device_used',
 'chemical_agent_used',
 'tackle_take_down',
 'impact_weapons_used',
 'physical_strikes_made',
 'deflation_device_used',
 'k9_unit_involved',
 'offenders_involved',
 'offenders_race',
 'offenders_ethnicity',
 'offenders_sex',
 'offender_arrested',
 'offender_injured',
 'offender_medical_treatment',
 'witnesses_involved',
 'status',
 'location']

In [289]:
port = read(data_path / 'Portland_copy.csv')
print(port.shape)
port.head()

(5252, 50)

,unnamed:_0,blunt_object,category_of_force_event_-_measured_at_event_level,disposition/custody,dow,firearm,firearm_-_implied,firearm_-_replica,force_applied_-_1,force_applied_-_2,force_applied_-_3,force_applied_-_4,force_applied_-_5,force_applied_-_6,force_applied_-_7,force_applied_-_8,hour_6hr,initial_call_category,initial_call_type,knife_/_edged_weapon_/_stabbing_instrument,"mental_health_crisis_-_prior_to_force,_perceived_lack_of_compliance",month,needle_/_spit_/_bodily_fluids,no_weapon_unarmed,officer,officer_precinct,officer_tenure,other_weapon,record_id,subject,subject_-_race,subject_-_sex,subject_-_transient,subject_age,subject_instance,subject_resistance_-_1,subject_resistance_-_2,subject_resistance_-_3,subject_resistance_-_4,subject_resistance_-_5,subject_resistance_-_6,subject_resistance_-_7,subject_resistance_-_8,type_of_call,"under_the_influence_of_alcohol_-_prior_to_force,_perceived_condition","under_the_influence_of_drugs_-_prior_to_force,_perceived_condition",weapon_present_or_reported_but_not_used_or_threatened_use,year,state,city
0,0,NaN,NaN,Arrest-Felony,SUN,NaN,NaN,NaN,CEW,CEW,CEW,NaN,NaN,NaN,NaN,NaN,-,Stolen Vehicle,VEHICLE RECOVERED,NaN,NaN,August,NaN,No weapon (unarmed),212461.0,East Precinct,8.773820,NaN,675518304,500540.0,White,Male,Yes,39.913546,5.005407e+14,Active,Active,Active,NaN,NaN,NaN,NaN,NaN,Dispatched,NaN,Yes,NaN,2017,OR,Portland
1,1,NaN,NaN,Arrest-Felony,SUN,NaN,NaN,NaN,PFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Shots Fired,SHOTS FIRED,NaN,No,August,NaN,NaN,836731.0,East Precinct,1.542666,NaN,477518302,466101.0,Black,Male,No,27.591981,4.661015e+14,Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Self-Initiated,Yes,NaN,Weapon Present or reported but not used or thr...,2017,OR,Portland
2,2,NaN,NaN,Arrest-Felony,SUN,NaN,NaN,NaN,PFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Shots Fired,SHOTS FIRED,NaN,No,August,NaN,NaN,649511.0,East Precinct,8.446785,NaN,477518302,466101.0,Black,Male,No,27.591990,4.661015e+14,Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Self-Initiated,NaN,NaN,Weapon Present or reported but not used or thr...,2017,OR,Portland
3,3,NaN,NaN,Arrest-Felony,SUN,NaN,NaN,NaN,PFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Stolen Vehicle,VEHICLE STOLEN - PRIORITY,NaN,NaN,July,NaN,NaN,798721.0,East Precinct,5.043689,NaN,357518041,614942.0,White,Male,No,25.210812,6.149424e+14,Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dispatched,NaN,NaN,Weapon Present or reported but not used or thr...,2017,OR,Portland
4,4,NaN,NaN,Arrest-Felony,SUN,NaN,NaN,NaN,PFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Welfare Check,WELFARE CHECK - PRIORITY,NaN,NaN,August,NaN,No weapon (unarmed),1053550.0,East Precinct,15.716990,NaN,19518308,371478.0,White,Male,Yes,31.678634,3.714782e+13,Active,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dispatched,NaN,Yes,NaN,2017,OR,Portland

In [291]:
port_headers = mapping(port)
list(port_headers.values())

['unnamed:_0',
 'blunt_object',
 'category_of_force_event_-_measured_at_event_level',
 'disposition/custody',
 'dow',
 'firearm',
 'firearm_-_implied',
 'firearm_-_replica',
 'force_applied_-_1',
 'force_applied_-_2',
 'force_applied_-_3',
 'force_applied_-_4',
 'force_applied_-_5',
 'force_applied_-_6',
 'force_applied_-_7',
 'force_applied_-_8',
 'hour_6hr',
 'initial_call_category',
 'initial_call_type',
 'knife_/_edged_weapon_/_stabbing_instrument',
 'mental_health_crisis_-_prior_to_force,_perceived_lack_of_compliance',
 'month',
 'needle_/_spit_/_bodily_fluids',
 'no_weapon_unarmed',
 'officer',
 'officer_precinct',
 'officer_tenure',
 'other_weapon',
 'record_id',
 'subject',
 'subject_-_race',
 'subject_-_sex',
 'subject_-_transient',
 'subject_age',
 'subject_instance',
 'subject_resistance_-_1',
 'subject_resistance_-_2',
 'subject_resistance_-_3',
 'subject_resistance_-_4',
 'subject_resistance_-_5',
 'subject_resistance_-_6',
 'subject_resistance_-_7',
 'subject_resistance_-_8',
 'type_of_call',
 'under_the_influence_of_alcohol_-_prior_to_force,_perceived_condition',
 'under_the_influence_of_drugs_-_prior_to_force,_perceived_condition',
 'weapon_present_or_reported_but_not_used_or_threatened_use',
 'year',
 'state',
 'city']

In [ ]:
['unnamed:_0',
 'blunt_object',
 'category_of_force_event_-_measured_at_event_level',
 'disposition/custody',
 'dow',
 'firearm',
 'firearm_-_implied',
 'firearm_-_replica',
 'force_applied_-_1',
 'force_applied_-_2',
 'force_applied_-_3',
 'force_applied_-_4',
 'force_applied_-_5',
 'force_applied_-_6',
 'force_applied_-_7',
 'force_applied_-_8',
 'hour_6hr',
 'initial_call_category',
 'initial_call_type',
 'knife_/_edged_weapon_/_stabbing_instrument',
 'mental_health_crisis_-_prior_to_force,_perceived_lack_of_compliance',
 'month',
 'needle_/_spit_/_bodily_fluids',
 'no_weapon_unarmed',
 'officer',
 'officer_precinct',
 'officer_tenure',
 'other_weapon',
 'record_id',
 'subject',
 'subject_-_race',
 'subject_-_sex',
 'subject_-_transient',
 'subject_age',
 'subject_instance',
 'subject_resistance_-_1',
 'subject_resistance_-_2',
 'subject_resistance_-_3',
 'subject_resistance_-_4',
 'subject_resistance_-_5',
 'subject_resistance_-_6',
 'subject_resistance_-_7',
 'subject_resistance_-_8',
 'type_of_call',
 'under_the_influence_of_alcohol_-_prior_to_force,_perceived_condition',
 'under_the_influence_of_drugs_-_prior_to_force,_perceived_condition',
 'weapon_present_or_reported_but_not_used_or_threatened_use',
 'year',
 'state',
 'city']

In [299]:
seat = read(data_path/'Seattle_copy.csv')
print(seat.shape)
seat.head()

(11630, 14)

,unnamed:_0,id,incident_num,incident_type,occured_date_time,precinct,sector,beat,officer_id,subject_id,subject_race,subject_gender,state,city
0,0,2014UOF-0001-1377-203,251,Level 1 - Use of Force,06/07/2014 12:09:00 AM,East,CHARLIE,C2,1594,203,Black or African American,Male,WA,Seattle
1,1,2014UOF-0002-1098-166,218,Level 1 - Use of Force,05/30/2014 02:06:00 PM,East,GEORGE,G1,1673,166,White,Male,WA,Seattle
2,2,2014UOF-0003-1031-125,178,Level 1 - Use of Force,05/23/2014 05:24:00 PM,West,KING,K3,1690,125,Asian,Female,WA,Seattle
3,3,2014UOF-0004-767-126,179,Level 1 - Use of Force,05/26/2014 12:10:00 AM,East,EDWARD,E2,953,126,Black or African American,Male,WA,Seattle
4,4,2014UOF-0005-1473-172,223,Level 1 - Use of Force,06/01/2014 04:03:00 PM,South,ROBERT,R1,1145,172,Black or African American,Male,WA,Seattle

In [300]:
seat_headers = mapping(seat)
list(seat_headers.values())

['unnamed:_0',
 'id',
 'incident_num',
 'incident_type',
 'occured_date_time',
 'precinct',
 'sector',
 'beat',
 'officer_id',
 'subject_id',
 'subject_race',
 'subject_gender',
 'state',
 'city']

In [301]:
seat_drop =  ['unnamed:_0',
 'id',
 'precinct',
 'sector',
 'beat',
 'officer_id',
 'subject_id']

In [302]:
seat = seat.drop(columns=seat_drop)

In [303]:
seat.head()

,incident_num,incident_type,occured_date_time,subject_race,subject_gender,state,city
0,251,Level 1 - Use of Force,06/07/2014 12:09:00 AM,Black or African American,Male,WA,Seattle
1,218,Level 1 - Use of Force,05/30/2014 02:06:00 PM,White,Male,WA,Seattle
2,178,Level 1 - Use of Force,05/23/2014 05:24:00 PM,Asian,Female,WA,Seattle
3,179,Level 1 - Use of Force,05/26/2014 12:10:00 AM,Black or African American,Male,WA,Seattle
4,223,Level 1 - Use of Force,06/01/2014 04:03:00 PM,Black or African American,Male,WA,Seattle

In [305]:
seat = seat.rename(columns= {'incident_num': 'incident_number',
                           'occured_date_time': 'incident_date'})

In [306]:
seat['lon'] = -122.335167
seat['lat'] = 47.608013

In [308]:
seat['incident_date'] = pd.to_datetime(seat['incident_date'], errors='coerce')

In [309]:
seat.head()

,incident_number,incident_type,incident_date,subject_race,subject_gender,state,city,lon,lat
0,251,Level 1 - Use of Force,2014-06-07 00:09:00,Black or African American,Male,WA,Seattle,-122.335167,47.608013
1,218,Level 1 - Use of Force,2014-05-30 14:06:00,White,Male,WA,Seattle,-122.335167,47.608013
2,178,Level 1 - Use of Force,2014-05-23 17:24:00,Asian,Female,WA,Seattle,-122.335167,47.608013
3,179,Level 1 - Use of Force,2014-05-26 00:10:00,Black or African American,Male,WA,Seattle,-122.335167,47.608013
4,223,Level 1 - Use of Force,2014-06-01 16:03:00,Black or African American,Male,WA,Seattle,-122.335167,47.608013

In [310]:
seat.to_csv(data_path / 'Seattle_clean.csv')

In [315]:
bend = read(data_path/'South_bend_copy.csv')
print(bend.shape)
bend.head()

(203, 18)

,unnamed:_0,x,y,objectid,date,shift,blocked_location_of_incident,beat,city_1,type_of_resistance,response,force_caused_injury,off_injured,call_dispatched_via_911,call_was_self_initiated,call_in_response_to,state,city
0,0,-86.269939,41.695339,1,2017/02/19 05:00:00+00,Off Duty 3rd,1500 N Portage Ave,20.0,South Bend,Physical,Physical/Taser,Yes,Yes,No,Yes,Fight,IN,South Bend
1,1,-86.253562,41.679111,2,2017/01/01 05:00:00+00,3rd,300 N Lafayette Blvd,21.0,South Bend,Physical,Physical,No,No,Yes,No,Fight,IN,South Bend
2,2,-86.274035,41.685367,3,2017/01/15 05:00:00+00,2nd,1600 Lincoln Way W,23.0,South Bend,Physical,Physical,Yes,No,Yes,No,Unwanted Person,IN,South Bend
3,3,-86.269829,41.687829,4,2017/01/23 05:00:00+00,1st,1000 N Diamond Ave,21.0,South Bend,Physical,Taser,No,No,Yes,No,Warrant,IN,South Bend
4,4,-86.225559,41.654811,5,2017/02/10 05:00:00+00,2nd,1900 S Tywyckenham Dr,15.0,South Bend,Physical,Taser,Yes,No,No,Yes,Traffic Stop,IN,South Bend

In [311]:
bend_headers = mapping(bend)
list(bend_headers.values())

['unnamed:_0',
 'x',
 'y',
 'objectid',
 'date',
 'shift',
 'blocked_location_of_incident',
 'beat',
 'city_1',
 'type_of_resistance',
 'response',
 'force_caused_injury',
 'off_injured',
 'call_dispatched_via_911',
 'call_was_self_initiated',
 'call_in_response_to',
 'state',
 'city']

In [316]:
bend_drop = ['unnamed:_0',
 'shift',
 'blocked_location_of_incident',
 'beat',
 'city_1',
 'type_of_resistance',
 'force_caused_injury',
 'off_injured',
 'call_dispatched_via_911',
 'call_was_self_initiated',
 'call_in_response_to']

In [317]:
bend = bend.drop(columns=bend_drop)

In [320]:
bend = bend.rename(columns= {'x': 'lon',
                             'y': 'lat',
                             'objectid': 'incident_number',
                             'date': 'incident_date',
                             'response':'force_type' })

In [321]:
bend['incident_date'] = pd.to_datetime(bend['incident_date'], errors='coerce')

In [322]:
bend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lon              201 non-null    float64
 1   lat              201 non-null    float64
 2   incident_number  203 non-null    int64
 3   incident_date    203 non-null    datetime64[ns, UTC]
 4   force_type       203 non-null    object
 5   state            203 non-null    object
 6   city             203 non-null    object
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(3)
memory usage: 11.2+ KB

In [323]:
bend.head()

,lon,lat,incident_number,incident_date,force_type,state,city
0,-86.269939,41.695339,1,2017-02-19 05:00:00+00:00,Physical/Taser,IN,South Bend
1,-86.253562,41.679111,2,2017-01-01 05:00:00+00:00,Physical,IN,South Bend
2,-86.274035,41.685367,3,2017-01-15 05:00:00+00:00,Physical,IN,South Bend
3,-86.269829,41.687829,4,2017-01-23 05:00:00+00:00,Taser,IN,South Bend
4,-86.225559,41.654811,5,2017-02-10 05:00:00+00:00,Taser,IN,South Bend

In [324]:
bend.to_csv(data_path / 'South_bend_clean.csv')